{% extends "layout.html" %}


{% macro render_field(field) %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">

            {% if field.errors%}
                {% for error in field.errors%}
                    <div>{{error}}</div>
                {% endfor %}
            {% endif %}

            <!--<span class="input-group-text " id="basic-addon1">{{ field.label.text }}</span>-->

        </div>
        {{ field(class_='form-control', placeholder=field.label.text) }}
    </div>

{% endmacro %}